<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iyuro.ssl_chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".user_list.UsersListActivity" />
        <activity android:name=".pick_to_send.PickToSendActivity"></activity>
    </application>

</manifest>