<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fingerprint">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application>
        <activity android:name=".SecureLoginActivity"></activity>
    </application>

</manifest>